<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>ログイン画面</title>
</head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <div class="navbar-nav mr-auto">
            <h1><a class="nav-link navbar-brand" href="#">探求学園Rails専攻</a></h1>
          </div>
          <div>
            <ul>
              <li>
                <a class="text-dark" href="#"> ログイン </a>
                <a class="text-dark" href="#"> 新規登録 </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <h4 class="d-flex justify-content-center mt-5 mb-3">ログイン画面</h4>
      <%= form_with url: login_path, class: "mb-0" do |form| %>
        <%= flash[:success] %>
        <%= flash[:error] %>

        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="d-flex flex-column">
            <%= form.label :email, "メールアドレス", class: "mb-0" %>
            <%= form.text_field :email %>
          </div>

          <div class="d-flex flex-column">
            <%= form.label :password, "パスワード", class: "mb-0" %>
            <%= form.text_field :password %>
          </div>

          <%= form.submit "ログイン", class:"btn btn-primary my-3" %>
        </div>
      <% end %>

      <div class="d-flex justify-content-center">
        <a href="">まだ登録がお済みでない方はこちら</a>
      </div>
    </main>

    <footer>
      <h1>探求学園Rails専攻</h1>
      <p>© 2020 QuestAcademia, All rights reserved</p>
    </footer>
  </body>

</html>
