<main>
  <h4 class="d-flex justify-content-center mt-5 mb-3">ログイン画面</h4>
  <%= form_with url: login_path, class: "mb-0" do |form| %>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex flex-column">
        <%= form.label :email, "メールアドレス", class: "mb-0" %>
        <%= form.text_field :email %>
      </div>

      <div class="d-flex flex-column">
        <%= form.label :password, "パスワード", class: "mb-0" %>
        <%= form.text_field :password %>
      </div>

      <%= form.submit "ログイン", class:"btn btn-primary my-3" %>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <a href="">まだ登録がお済みでない方はこちら</a>
  </div>
</main>
