<main>
  <div class="container">
  <%= form_with model: @user do |form|%>
    <div class="jumbotron text-center bg-white mt-5">
      <h2>お客様情報登録</h2>
      <%= flash[:error] %>
    </div>
    <div class="row mb-5 ml-5">
      <div class="col-sm-6 offset-sm-3">
        <div>
          <p>氏名</p>
          <div class="row ms-2">
            <div class="col-sm-5">
              <%= form.label :last_name, "姓" %>
              <%= form.text_field :last_name, maxlength: 10 %>
              <%= form.label :first_name, "名" %>
              <%= form.text_field :first_name,maxlength: 10 %>
            </div>
          </div>
          <%= form.label :zipcode, "郵便番号" %>
          <div class="col-sm-6 ms-4">
            <%= form.text_field :zipcode, length: 8 %>
          </div>
          <div>
            <p class="mb-1">住所</p>
            <div class="ms-4">
              <div class="row">
                <%= form.label :prefecture, "都道府県" %>
                <%= form.text_field :prefecture, maxlength: 5 %>
              </div>
              <div class="row">
                <%= form.label :municipality, "市町村区" %>
                <%= form.text_field :municipality, maxlength: 10 %>
              </div>
              <div class="row">
                  <%= form.label :address, "番地" %>
                  <%= form.text_field :address, maxlength: 15 %>
              </div>
              <div class="row">
                  <%= form.label :apartments, "マンション　部屋番号" %>
                  <%= form.text_field :apartments, maxlength: 20 %>
              </div>
            </div>
          </div>
        </div>
        <div>
          <%= form.label :email, "メールアドレス" %>
          <div class="ml-3 mr-5 ms-4">
            <%= form.text_field :email %>
          </div>
        </div>
        <div>
          <%= form.label :phone_number, "電話番号" %>
          <div class="ml-3 mr-5 ms-4">
            <%= form.text_field :phone_number %>
          </div>
        </div>
        <div>
          <%= form.label :password, "パスワード" %>
          <div class="col-sm-8 ms-4">
            <%= form.password_field :password %>
          </div>
        </div>
        <div>
          <%= form.label :zipcode, "パスワード再入力" %>
          <div class="col-sm-8 ms-4">
            <%= form.password_field :password_confirmation %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-2 mt-5">
            <%= form.submit "登録", class: "btn btn-primary" %>
          </div>
        </div>
        <div class="mt-5 text-center">
          <%= link_to "ログインはこちらから", login_path %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
 </main>
